<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <% if (!hasBuild) { %>
      <%- include('../partials/nav') %>
    <% } %>
    <% if (showHeader) { %>
      <%- include('../partials/header') %>
    <% } %>
    <!-- Main Content -->
    <%- body %>
    <!-- place the scripts at the end of the html page -->
    <!-- Page Content END -->	

    <% if (!hasBuild) { %>
      <%- include('../partials/footer') %>
    <% } %>
    <!-- Scripts -->
    <script src="./js/page.min.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/swiper.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
          spaceBetween: 30,
          hashNavigation: {
            watchState: true,
          },
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        });
     </script>

</body>

</html>